/* degreeswhat/main.css */

html, body {color:#000; background:#ddd;}
body {margin:0; padding:0; font-size:1em; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;}

h1 {display:none; font-size:1.5em; margin:0 0 1em 0; font-weight:normal;}
h2 {font-size:1.2em; margin:0 0 1em 0;}
h3 {font-size:1.0em; margin:2em 0 1em 0}
h4 {font-size:0.9em; margin:2em 0 1em 0}
p {margin:0 0 1em 0;}
big {font-size:1.2em;}
sup {font-size:0.75em; margin:0 0.2em;}
.center {text-align:center;}
.nobr {white-space:nowrap;}
.hide {display:none;}

table {margin:0 0 1em 0; border-collapse:collapse;}
th {text-align:left;}
th, td {padding:0.3em 0.5em; border:1px solid rgba(127,127,127,0.15);}

form {margin:0 0 1em 0;}
form label {display:inline-block; margin-right:0.3em;}
form input {margin-right:0.5em; white-space:nowrap;}

/* links */
a {color:#00e; text-decoration:none;}
a:visited {color:#a0e;}
a:hover {text-decoration:underline;}

nav a:link,    a.close {text-decoration:none; font-weight:bold; color:#003;}
nav a:visited, a.close:visited {color:#003;}
nav a:hover,   a.close:hover   {color:#f00;}

/* nav positions */
nav, section, div {box-sizing:border-box;}
nav {position:absolute; margin:0;}
nav svg {width:1.625em; height:1.625em;}
#nav1 {left:16px; top:16px;}
#nav2 {right:16px; top:16px; text-align:right;}
#fullscreen {display:none; margin-left:0.5em;}

/* --- LAYOUT --- */
#compass {display:block; width:100vmin; width:100dvmin; height:100vmin; height:100dvmin; margin:0 auto; padding:0; /*border:1px dotted blue;*/}
.info    {display:block; max-width:40em; margin:0 auto; padding:0.01em 1em; text-align:center; /*border:1px dotted red;*/}
section  {display:block; width:100vmin; width:100dvmin; max-width:40em; margin:0 auto; padding:0;} /* default for no-js */
section.overlay {display:none; position:fixed; left:0; top:0; width:100vw; max-width:100vw; height:100vh; height:100dvh; margin:0; background:rgba(255,255,255,0.90); backdrop-filter:blur(3px); -webkit-backdrop-filter: blur(3px); overflow:scroll; overscroll-behavior:contain;} /* .overlay class added via js */

#compass, #compassOverlay {touch-action:none;}


/* info */
.info {}
.info h3 {margin:1em 0;}
#info1 {}
#info1 dl {max-width:10em; margin:1em 0;}
#info1 dt {margin-top:1em; text-align:left; font-weight:bold;}
#info1 dd {margin-left:0;  text-align:right;}
#info2 {}
#info2 p[data-degrees] {display:none;}

#color span {display:inline-block; min-width:3em;}

/* sections */
section > div {position:relative; margin:0; padding:1em;}
.close {position:absolute; right:1.3em; top:1.3em; margin:0; line-height:1;}

/* about */
#support {width:210px; margin:0 auto;}
#support a {color:#000;}
#support a:hover {color:#f00;}


@media (orientation:portrait) {
	#info1 {margin: 0 auto;}
	#info2 {max-width:20em; min-height:10em;}
	#info1 dl {display:none;}
}

@media (orientation:landscape) {
	#compass {width:100vmin; width:100dvmin; height:100vmin; height:100dvmin;}
	.info {position:absolute; left:0; top:4em; width:calc(50vw - 50vmin); width:calc(50vw - 50dvmin); height:calc(100vh - 4em); height:calc(100dvh - 4em); overflow:visible;}
	#info1 {padding-right:0; text-align:left;}
	#info2 {left:auto; right:0; padding-left:0; text-align:right;}
}

@media (min-width:30rem) {
	html, html body {background:#ccc;}
	section.overlay {background:rgba(204,204,204,0.9); overflow:hidden;}
	section.overlay > div {width:40em; max-width:80vw; height:auto; max-height:90vh; max-height:90dvh; margin:5vh auto; margin:5dvh auto; background:rgba(255,255,255,0.7); border:1px solid #999; border-radius:7px; box-shadow:0 5px 10px 8px rgba(0, 0, 0, 0.2); overflow:scroll; overscroll-behavior:contain;}
	#settings.overlay > div {width:20em;}
}
